body {
    background: rgb(150, 149, 149);
    margin-left: 100px;
    margin-right: 200px;
}

header {
    margin-top: 30px;
}

h1 {
    color: rgb(58, 9, 9);
    font-family: fantasy;
}

h2 {
    font-family: fantasy;
}

p {
    font-size: 18px;
}

footer {
    margin-bottom: 30px;
}

.img_padrao {
    margin-bottom: 20px;
    width: 300px;
}

.logo {
    width: 30px;
}